*{
    box-sizing:border-box;
}

body {
    -webkit-font-smoothing:antialiased;
    margin:20px;
    font-family: 'Oswald', sans-serif;
    font-size: 12px;
    background-image: url(assets/img/cream_pixels.png);
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 800;
}
label {
    font-weight: bold;
    color: #333;
}
button {
    font-family: 'Oswald', sans-serif;
    margin: 12px;
    font-weight: bold;
    font-size:12px;
    color: #fff;
    text-transform: uppercase;
    border-radius: 5px;
    /* 'Corner-radius' was listed in the requirements, I assumed a typo and assumed you meant border-radius. */
    border: none;
    cursor: pointer;
    background-color: rgba(68, 68, 68, 1);
    transition: all 0.2s ease 0s;
}

button:focus {
    outline: none;
}
button:hover,
button:active {
    background-color: rgba(23, 23, 23, 1);
}
button:active {
    color: rgba(255, 255, 255, 0.6);
}
button.active {
    background-color: #d55;
}
button:disabled {
    opacity: 0.3;
}

#tableWrapper {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}
table,
th,
td {
    border: 1px solid #efefef;
    vertical-align:middle;
}
table {
    margin: 0 auto;
    border-collapse: collapse;
    border-spacing: 0;
    height: 500px;
}
table th {
    padding: 9px;
    background: #333 linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4));
    color: white;
    min-width:100px;
    border-color: #555;
    -webkit-user-select: none;
    cursor: pointer;
}
table tbody tr {
    background:#fff linear-gradient(rgba(0, 0, 0, 0.01), rgba(0, 0, 0, 0.02));
}
table tbody tr:hover {
    background-image: linear-gradient(rgba(255, 200, 200, 0.3), rgba(255, 200, 200, 0.2));
    cursor: pointer;
}
table tbody tr td {
    font-weight: 300;
    padding:6px;
}
table tbody tr td.email {
    width: 99%;
    overflow:hidden;
    text-overflow:ellipsis;
    word-break: break-all;
}
table tbody tr.active {
    background-image:linear-gradient(rgba(255, 200, 200, 0.15), rgba(255, 200, 200, 0.4))
}
table tbody tr.active td{
    font-weight:normal;
}

table tfoot {
    background-color: #fff;
}
@media(min-width:640px){
    table {
        float: left;
        width: 65%;
    }
    table td {
        padding: 10px;
    }
    table td.first_name,
    table td.last_name {
        width: 40px;
    }
    table td.email {
        width: 220px;
        word-break: break-all;
    }
}
.text-uppercase {
    text-transform: uppercase;
}
.text-center {
    text-align: center;
}
.select-style {
    border: 1px solid #ccc;
    width: 130px;
    border-radius: 3px;
    margin-right: 10px;
    background: #fafafa url("data:image/png;base64,R0lGODlhDwAUAIABAAAAAP///yH5BAEAAAEALAAAAAAPABQAAAIXjI+py+0Po5wH2HsXzmw//lHiSJZmUAAAOw==") no-repeat 90% 50%;
}
.select-style select {
    padding: 5px 8px;
    border: none;
    width:100%;
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
}
.select-style select:focus {
    outline: none;
}
#nameGroup {
    width: 100%;
    padding-right: 20px;
}
@media(min-width:640px){
    #nameGroup {
        width: 400px;
    }
}
#controlPanel {
    margin-bottom: 20px;
}
#controlPanel input {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 5px 3px;
}
#controlPanel .control-group {
    display: inline-block;
    padding-top:10px;
    overflow: hidden;
}
.pagination {
    float: right;
}
.pagination button {
    float: left;
    margin: 5px;
}

.profile-img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
    border-radius: 20px;
}
.button-container{
    overflow:hidden;
}
.button-container button{
    padding:8px 15px;
}
.button-container button:first-child, .button-container button:nth-child(2){
    float:left;
}
.button-container button:nth-child(3), .button-container button:nth-child(4){
    float:right;
}
.button-container .page-number-display{
    padding-top:10px;
    text-align:center;
}

/* Detail Panel */

#detailPanel {
    padding: 20px;
    min-height:175px;
    background-color: #fefefe;
    border: 1px solid #ddd;
    width: 100%;
}
#detailPanel h3{
    top:25%;
    padding-left:20px;
    padding-right:20px;
}
#detailPanel .profile-img {
    float: left;
    max-width: 25%;
}
#detailPanel .person-detail-content {
    float: left;
    text-align: left;
    max-width: 75%;
}
#detailPanel .person-detail-content a{
    padding:0;
}
#detailPanel .person-detail-content p, #detailPanel .person-detail-content h2{
    margin-top:0;
    max-height:175px;
    overflow-wrap:break-word;
    padding-left:20px;
    padding-right:20px;
    margin-bottom:5px;
}
#detailPanel > .faux-header{
    height:37px;
    margin-top:-1px;
    border:1px solid #555;
    border-right:none;
    background: #333 linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4));
    display:none;
}
@media(min-width:640px){
    #detailPanel {
        border-right: none;
        padding:0;
        height: 500px;
        width: 35%;
        float: left;
    }
    #detailPanel .person-detail-content {
        float: none;
        padding-top: 30px;
        max-width: 100%;
    }
    #detailPanel .person-detail-content > *{
        padding-left:5px;
    }
    #detailPanel img.profile-img {
        float: none;
        margin-top:20px;
        max-width: 100%;
    }
    #detailPanel > .faux-header {
        display:block;
    }
}


/* Utility Classes */
.group:after,.row:after {
    content: "";
    display: table;
    clear: both;
}
.row {
    margin: 0 auto;
    max-width: 920px;
}