<div class="row">
    <h1 class="text-uppercase">Your Contacts</h1>
</div>
<div class="row" id="controlPanel">
    <div class="control-group group" id="nameGroup">
        <label>SEARCH:</label>
        <div id="nameWrapper">
            <input type="text" ng-model="byName" placeholder="First or last name..."/>
        </div>
    </div>
    <div class="control-group group">
        <label>STATE:</label>
        <div class="select-style">
            <select ng-model="byState" ng-options="key as value for (key,value) in states">
                <option value="">All</option>
            </select>
        </div>
    </div>
    <div class="control-group group">
        <label>PAGE SIZE:</label>
        <div class="select-style">
            <select ng-model="rowLimit" ng-options="amt for amt in [10,20,50]">
            </select>
        </div>
    </div>
</div>
<div class="row" id="tableWrapper">
    <div class="group text-center" id="detailPanel">
        <div class="faux-header"></div>
        <div ng-if="!currentPerson">
            <h3>Select a user from the table to display details.</h3>
        </div>
        <div ng-if="currentPerson">
            <img src="http://lorempixel.com/200/200/people?t={{currentPerson.phone}}" class="profile-img">
            <div class="person-detail-content" style="overflow-wrap:break-word;">
                <h2>{{currentPerson.first_name}} {{currentPerson.last_name}}</h2>
                <p>{{currentPerson.email}}</p>
                <p>Ph: {{currentPerson.phone}}</p>
                <br>
                <a href="https://maps.google.com?q={{currentPerson.address}}, {{currentPerson.city}}, {{currentPerson.state}}, {{currentPerson.zip}}"><p>{{currentPerson.address}}, {{currentPerson.city}}, {{currentPerson.state}} {{currentPerson.zip}}</p></a>
                <p>Joined: {{currentPerson.join_date}}</p>
            </div>
        </div>
    </div>
    <table>
        <thead>
            <th class="text-uppercase" ng-repeat="key in keys" ng-click="toggleSort(key)">
                {{key}}
                        <span ng-if="key == sortBy.key">
                            {{sortBy.descending ? '&#9660;' : '&#9650;'}}
                        </span>
            </th>
        </thead>
        <tbody>
            <tr ng-class="{'active':contact == currentPerson}" ng-click="userSelected(contact)" ng-repeat="contact in sampleData | filter:{state:byState||''}| name:byName | orderBy:(sortBy.descending?'-':'')+sortBy.key | filter:paginate | limitTo:rowLimit as results">
                <td ng-repeat="key in keys" class="{{key}}">{{contact[key]}}
            </tr>
            <tr ng-if="!results.length">
                <td colspan="9" style="text-align:center;">No results found.</td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="{{keys.length}}">
                    <div class="button-container">
                        <button type="button" ng-click="setCurrentPage(1)" ng-disabled="currentPage === 1">First</button>
                        <button ng-repeat="i in getAry(pages) track by $index" type="button" ng-class="{'active': $index === currentPage - 1}" ng-click="setCurrentPage($index+1)">{{$index+1}}</button>
                        <button type="button" ng-click="setCurrentPage(pages)" ng-disabled="currentPage === pages">Last</button>
                    </div>
                </td>
            </tr>
        </tfoot>
    </table>

</div>